@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap");

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

:root {
    --background-colour: #0a3d62;
    --primary-colour: #38ada9;
    --border-radius: 8px;

    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: #fff;
    background-color: var(--background-colour);
}

:root,
input {
    font-family: Rubik, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell,
        "Helvetica Neue", sans-serif;
}

#root {
    width: 100%;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    text-align: center;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}
